<footer class="footer">
  <div class="footer_container">
    <span>FAQs </span>
    <span>Blog</span>
    <span>Privacy</span>
    <span>DMCA</span>
    <span>Language</span>
  </div>
  <div class="madeby">
    <p>
      &copy; 2020, All right reserve. Made with <i class="fas fa-heart"></i> by
      <span class="ifeanyi"
        ><a href="https://twitter.com/ifeanyiigweh">Ifeanyi</a></span
      >
    </p>
  </div>
</footer>
