<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%= title %></title>
  <link rel="stylesheet" href="/css/styles.css" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css"
    integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu" crossorigin="anonymous" />
</head>

<body>
  <div class="headerContainer">
    <div class="header_nav">
      <header>
        <h3><a href="/">Book Africa</a></h3>
      </header>
      <nav>
        <div class="nav_icon">
          <span></span>
          <span></span>
        </div>
      </nav>
    </div>

    <div class="bookContainer">
      <ul class="bookSubcontainer">
        <li><a href="/">Home</a></li>
        <li><a href="/user/login">Login</a></li>
        <li><a href="/user/register">Register</a></li>
        <li><a href="/upload-book">Upload a book</a></li>
      </ul>
    </div>
  </div>

  <script>
    const nav_icon = document.querySelector(".nav_icon");
    nav_icon.addEventListener("click", () => {
      nav_icon.classList.toggle("rotate");
      const bookSubcontainer = document.querySelector(".bookSubcontainer");
      bookSubcontainer.classList.toggle("is-open");
    });
  </script>
</body>

</html>