<%- include('header') %>

<div class="hero">
  <picture>
    <source srcset="img/AfricaBookcover_large.jpg" media="(min-width: 600px)">
    <img src="img/book3small.jpg" />

  </picture>
  <div class="hero_centered">
    <h3>Africa's Largest online Library</h3>
    <h4>With over 22 million books & 12million articles</h4>
  </div>
  <form action="/search" method="post" class="searchForm">
    <div class="search_container">
      <div class="search_subcontainer">


        <input name="q" class="homepageSearch" type="text" placeholder="Find Books">
        <button class="homepageSearchBtn" type="submit"><i class="fas fa-search"></i> </button>

      </div>
    </div>
</div>
</form>

<div class="popularBooks_home">
  <%- include('popularBooks') %>
</div>
<%- include('slideBooks')  %>
<div class="homeFooter_container">
  <%- include('footer') %>
</div>