<%- include('header') %>

<div class="hero">
  <img src="img/book3small.jpg" />
  <div class="hero_centered">
    <h3>Africa's Largest online Library</h3>
    <h4>With over 22 million books & 12million articles</h4>
  </div>
</div>

<%- include('popularBooks') %> <%- include('footer') %>
