<%- include('header') %>

<div class="hero">
  <img src="img/book3small.jpg" />
  <div class="hero_centered">
    <h3>Africa's Largest online Library</h3>
    <h4>With over 22 million books & 12million articles</h4>
  </div>
  <div class="search_container">
    <div class="search_subcontainer">
      <input class="homepageSearch" type="text" placeholder="Find Books">
      <button class="homepageSearchBtn" type="submit"><i class="fas fa-search"></i> </button>
    </div>
  </div>
</div>

<%- include('popularBooks') %> <%- include('footer') %>