<%- include('emptyHeader') %>

<div class="img_login_register">
  <img src="/img/book5small.jpg" alt="" />
</div>
<div class="login_register_container">
  <form action="/user/login" method="post" class="login_register_form">
    <h2>Login</h2>
    <%- include('message') %>
    <div class="error">
    </div>
    <div class="formContainer">
      <label for="email">Email</label>
      <input type="email" name="email" placeholder="email" required class="formInput" />

    </div>
    <div class="formContainer">
      <div class="password_forgot">
        <label for="password">Password</label>
        <p class="forgotPassword">Forgot password ?</p>
      </div>
      <input type="password" name="password" placeholder="Password" required class="formInput" />
      <p class="formErrorPassword"></p>
    </div>

    <div class="formContainer">
      <button type="submit">Login</button>
    </div>
    <div>
      <p class="account">
        Don't have an account? <a href="/user/register">Register</a>
      </p>
    </div>
  </form>
</div>