<% if(success_msg != "") {%>
<div class="message success">
    <%= success_msg %>
</div>
<% } %>

<% if(error_msg != "") {%>
<div class="message errors">
    <%= error_msg %>
</div>
<% } %>

<% if(error != "") {%>
<div class="message errors">
    <%= error %>
</div>
<% } %>