<div class="slide_container">
    <h3 class="slide_header">You might also enjoy</h3>
    <div class="slide_subcontainer">
        <div class="slide">
            <% lessPopularBooks.forEach((book) => { %>
            <a href="book/<%=book._id%>"><img class="img_slide" src="<%=book.imagePath%>" alt="img" /> </a>
            <%  }) %>

        </div>


    </div>
</div>