@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.headerContainer {
  position: relative;
  top: 0;
}
.header_nav {
  padding: 0.4rem;
  background-color: white;
  border-bottom: 1px solid #eee;
  position: sticky;
  position: -webkit-sticky;
}

.nav_icon {
  width: 23px;
  height: 3px;
  position: absolute;
  right: 0.5rem;
  top: 0.8rem;
  float: right;
  cursor: pointer;
  display: block;
}
.nav_icon > span {
  display: block;
  position: absolute;
  height: 3px;
  width: inherit;
  background-color: black;
  border-radius: 15px;
  transition: 0.2s linear 0.1s;
}
.nav_icon > span:nth-child(1) {
  top: 0px;
}
.nav_icon > span:nth-child(2) {
  top: 8px;
}
.nav_icon.rotate span:nth-child(1) {
  transform: rotate(45deg);
}
.nav_icon.rotate span:nth-child(2) {
  top: 0;
  transform: rotate(-45deg);
}
.bookContainer {
  position: absolute;
  width: 100%;
  background-color: black;
  direction: rtl;
  z-index: 100;
}
.bookSubcontainer {
  display: none;
}
.bookContainer .bookSubcontainer.is-open {
  display: block;
}
.bookSubcontainer li + li {
  border-top: 1px solid white;
}
.bookSubcontainer a {
  display: block;
  padding: 0.5rem 1.5rem;
  font-size: 1.1rem;
  color: white;
}

/* home */

.hero img {
  width: 100%;
}
.hero_centered {
  position: absolute;
  top: 5rem;
  text-align: center;
  color: black;
  font-size: 1.1rem;
  z-index: 0;
  background-color: white;
  width: 100%;
  opacity: 0.7;
}

.search_container {
  width: 80%;
  margin: 1rem auto;
  position: absolute;
  top: 10rem;
  left: calc(20% / 2);
}
.search_subcontainer {
  width: 100%;
  display: flex;
  background-color: #9dbfaf;
}
.homepageSearch,
.homepageSearchBtn {
  border: 0;
  outline: none;
}
.homepageSearch {
  width: 100%;
  border: 3px solid #9dbfaf;
  border-right: none;
  padding: 5px;
  height: 36px;
  border-radius: 5px 0 0 5px;
  color: black;
  font-size: 1rem;
}

.homepageSearchBtn {
  width: 40px;
  height: 36px;
  border: 1px solid #9dbfaf;
  background-color: #9dbfaf;
  cursor: pointer;
  font-size: 20px;
  color: white;
}

/* register / signIn */
.img_login_register {
  position: relative;
  width: 100%;
}
.img_login_register img {
  width: 100%;
  height: 100%;
}
.login_register_container {
  position: absolute;
  width: 100%;
  top: 10%;
}
.login_register_form {
  background-color: white;
  width: 80%;
  margin: 2rem auto;
  opacity: 0.8;
  padding: 1rem;
}
.login_register_form h2 {
  text-align: center;
}
.formContainer {
  display: flex;
  flex-flow: column;
  margin-top: 1rem;
}

.formContainer input {
  padding: 0.6rem 1rem;
}
.formContainer button {
  padding: 0.5rem;
  font-size: 1rem;
  background-color: #ccc;
  border: 0;
  border-radius: 4px;
}
.password_forgot {
  display: flex;
  justify-content: space-between;
}
.forgotPassword,
.formErrorName,
.formErrorPassword,
.formErrorEmail {
  color: red;
  font-style: italic;
  font-size: 13px;
}
.account {
  padding-top: 1rem;
}

/* postBook  || upload book*/
.formContainer_postBook {
  position: relative;
}
.postBook_upload {
  text-align: center;
}
.uploadForm_postbook {
  width: 94%;
  margin: 2rem auto;
}
.formContainerSelect {
  padding: 0.6rem 1rem;
}
.BookDescription_postupload {
  resize: none;
  height: 8rem;
}
.formContainerFile {
  border: 1px solid #ccc;
}
.formContainer_postupload {
  margin: auto;
  width: 40%;
}
.formContainer_postupload_btn {
  background-color: rgb(32, 32, 179);
  padding: 0.5rem 1rem;
  width: 100%;
  margin: 1rem auto;
  border-radius: 8px;
  color: white;
}

/* single Book */
.singleBookContainer {
  position: relative;
  width: 94%;
  margin: 1rem auto;
  font-size: 0.9rem;
}
.singleBookSubcontainer {
  border: 2px solid #eee;
}

.singleBook_img {
  height: 12rem;
  width: 10rem;
  margin: 0.6rem auto;
  border: 2px solid #eee;
}
.singleBook_img > img {
  width: 100%;
  height: 100%;
}
.title_author_rating_container {
  width: 96%;
  margin: 0.3rem auto;
}
.singleBookTitle,
.singleBookAuthor,
.rating_comment {
  font-size: 1rem;
  padding: 0.3rem;
}
.singleBookTitle {
  text-align: justify;
}
.singleBookAuthor {
  color: rgb(124, 124, 223);
  text-decoration: underline;
  font-style: italic;
}
.rating_comment > span {
  margin-right: 1rem;
}
.bookDescription,
.bookInfoContainer {
  width: 94%;
  margin: 0.3rem auto;
}
.bookInfoContainer {
  margin-top: 2rem;
}
.bookInfo {
  width: 50%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 0.6rem;
}
.downloadBookcontainer {
  width: 70%;
  margin: 2rem auto;
}
.downloadBookcontainer button {
  background-color: rgb(100, 143, 224);
  border: 0;
  padding: 0.7rem;
  font-weight: 600;
  border-radius: 4px;
  width: 100%;
  margin: auto;
}
.download a {
  color: white;
}

/* Popular Books =>  has an include */
.interested_in {
  position: relative;
  margin-top: 1rem;
  border: 1px solid #eee;
  padding: 1rem 0 2rem 0;
  border-radius: 5px;
}
.interested_in h3 {
  text-align: center;
}
.popularBook_container {
  width: 100%;
  margin: 1.5rem auto;
  position: relative;
}
.popularBook_subconatainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(55px, 1fr));
  gap: 3px;
}
@media (max-width: 25.8rem) {
  .popularBook_subconatainer {
    width: 96%;
    margin: 1rem auto;
  }
}
@media (min-width: 25.8rem) {
  .popularBook_subconatainer {
    width: 90%;
    margin: 1rem auto;
  }
}
@media (min-width: 25.8rem) {
  .popularBook_subconatainer {
    width: 90%;
    margin: 1rem auto;
  }
}

.popularBook {
  background-color: #eee;
  width: 3.5rem;
  height: 5.5rem;
}
.popularBook_img {
  width: 100%;
  height: 100%;
}
.post_a_review_box {
  margin-top: 1rem;
  position: relative;
  width: 94%;
}
.post_title {
  text-align: center;
}
.reviewcontainer {
  width: 80%;
  margin: 0.4rem auto;
  height: 5rem;
}
.postreview {
  width: 100%;
  height: 100%;
  resize: none;
  border-radius: 4px;
  color: black;
  font-size: 1rem;
}

/* footer */
.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border-top: 1px solid #ccc;
  width: 100%;
  font-size: 14px;
  padding-top: 0.5rem;
}
.footer_container {
  width: 95%;
  margin: 0.4rem auto;
  display: flex;
  justify-content: space-around;
}

.madeby {
  width: 95%;
  margin: 0.4rem auto;
  text-align: center;
}

.madeby i {
  color: red;
}

.ifeanyi {
  font-style: italic;
}
